<h2>Customer Orders</h2>
    Filter: <input type="text" ng-model="orderFilter.product" />
    <br /><br />
    <table>
        <tr>
            <th>Product</th>
            <th>Order</th>
        </tr>
        <tr ng-repeat="order in orders | filter:orderFilter | orderBy:'product':reverse">
            <td>{{ order.product }}</td>
            <td>{{ order.total | currency }}</td>
        </tr>
        <tr ng-class="totalType">
            <td>&nbsp;</td>
            <td>{{ordersTotal | currency  }}</td>
        </tr>
    </table>
<br/>
<footer>&copy; Pigopoyo.com &trade; {{appSettings.version}}</footer>
